## Climate Data

Dataset from: https://www.kagle.com/noaa/global-historical-climatology-network

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
from mpl_toolkits.basemap import Basemap
import os
import subprocess
from IPython.display import Video

df = pd.read_pickle("climate.pkl").sort_index()
longs, lats = np.arange(-180, 180, 5), np.arange(-90, 90, 5)
df.head()

                  lon_175_180W  lon_170_175W  lon_165_170W  lon_160_165W  \
date       lat
1880-12-31 -87.5           NaN           NaN           NaN           NaN
           -82.5           NaN           NaN           NaN           NaN
           -77.5           NaN           NaN           NaN           NaN
           -72.5           NaN           NaN           NaN           NaN
           -67.5           NaN           NaN           NaN           NaN

                  lon_155_160W  lon_150_155W  lon_145_150W  lon_140_145W  \
date       lat
1880-12-31 -87.5           NaN           NaN           NaN           NaN
           -82.5           NaN           NaN           NaN           NaN
           -77.5           NaN           NaN           NaN           NaN
           -72.5           NaN           NaN           NaN           NaN
           -67.5           NaN           NaN           NaN           NaN

                  lon_135_140W  lon_130_135W  ...  lon_130_135E  lon_135_140E  \
date       lat                                ...
1880-12-31 -87.5           NaN           NaN  ...           NaN           NaN
           -82.5           NaN           NaN  ...           NaN           NaN
           -77.5           NaN           NaN  ...           NaN           NaN
           -72.5           NaN           NaN  ...           NaN           NaN
           -67.5           NaN           NaN  ...           NaN           NaN

                  lon_140_145E  lon_145_150E  lon_150_155E  lon_155_160E  \
date       lat
1880-12-31 -87.5           NaN           NaN           NaN           NaN
           -82.5           NaN           NaN           NaN           NaN
           -77.5           NaN           NaN           NaN           NaN
           -72.5           NaN           NaN           NaN           NaN
           -67.5           NaN           NaN           NaN           NaN

                  lon_160_165E  lon_165_170E  lon_170_175E  lon_175_180E
date       lat
1880-12-31 -87.5           NaN           NaN           NaN           NaN
           -82.5           NaN           NaN           NaN           NaN
           -77.5           NaN           NaN           NaN           NaN
           -72.5           NaN           NaN           NaN           NaN
           -67.5           NaN           NaN           NaN           NaN

[5 rows x 72 columns]

In [2]:
os.makedirs("output", exist_ok=True)

In [3]:
def plot_year(df, index, year):
    filename = f"output/{index:04d}.png"
    if os.path.exists(filename):
        print(f"Year {year} already exists")
        return
    else:
        print(f"Making year {year}")
    max_val = np.nanquantile(df.to_numpy(), 0.99) / 100
    data = df.loc[year, :].to_numpy() / 100
    
    kwargs = {
    "projection": "cyl", # equidistant, also try moll (equal area), robin
    "llcrnrlat": -80,
    "urcrnrlat": 90,
    "llcrnrlon": -180,
    "urcrnrlon": 180,
    "area_thresh": 10000.,
    }
    
    fig, ax = plt.subplots(figsize=(12,6))
    m = Basemap(ax=ax, **kwargs)
    m.drawcoastlines(color="#111111", linewidth=1.0, zorder=1);
    m.fillcontinents(color="#333333", zorder=-2)
    
    # do projection explicitly
    xx, yy = np.meshgrid(longs, lats)
    im = m.pcolormesh(xx, yy, data, shading='gouraud', zorder=0, cmap='seismic', vmin=-max_val, vmax=max_val)
    cb = m.colorbar(im, "bottom", size="2%", pad="1%")
    cb.set_label("Temperature Anomaly (C)", fontsize=14)
    cb.ax.tick_params(labelsize=12)
    ax.set_title(f"Temperature Anomaly for {year}", fontsize=12);
    fig.savefig(filename, dpi=100, transparent=False, bbox_inches="tight", padding_inches=0)
    plt.close(fig)
    
plot_year(df, 0, "1880")

Year 1880 already exists

In [4]:
years = df.index.levels[0].to_series().dt.year.to_list()
for i, year in enumerate(years):
    plot_year(df, i, str(year))

Year 1880 already exists
Year 1881 already exists
Year 1882 already exists
Year 1883 already exists
Year 1884 already exists
Year 1885 already exists
Year 1886 already exists
Year 1887 already exists
Year 1888 already exists
Year 1889 already exists
Year 1890 already exists
Year 1891 already exists
Year 1892 already exists
Year 1893 already exists
Year 1894 already exists
Year 1895 already exists
Year 1896 already exists
Year 1897 already exists
Year 1898 already exists
Year 1899 already exists
Year 1900 already exists
Year 1901 already exists
Year 1902 already exists
Year 1903 already exists
Year 1904 already exists
Year 1905 already exists
Year 1906 already exists
Year 1907 already exists
Year 1908 already exists
Year 1909 already exists
Year 1910 already exists
Year 1911 already exists
Year 1912 already exists
Year 1913 already exists
Year 1914 already exists
Year 1915 already exists
Year 1916 already exists
Year 1917 already exists
Year 1918 already exists
Year 1919 already exists
Year 1920 already exists
Year 1921 already exists
Year 1922 already exists
Year 1923 already exists
Year 1924 already exists
Year 1925 already exists
Year 1926 already exists
Year 1927 already exists
Year 1928 already exists
Year 1929 already exists
Year 1930 already exists
Year 1931 already exists
Year 1932 already exists
Year 1933 already exists
Year 1934 already exists
Year 1935 already exists
Year 1936 already exists
Year 1937 already exists
Year 1938 already exists
Year 1939 already exists
Year 1940 already exists
Year 1941 already exists
Year 1942 already exists
Year 1943 already exists
Year 1944 already exists
Year 1945 already exists
Year 1946 already exists
Year 1947 already exists
Year 1948 already exists
Year 1949 already exists
Year 1950 already exists
Year 1951 already exists
Year 1952 already exists
Year 1953 already exists
Year 1954 already exists
Year 1955 already exists
Year 1956 already exists
Year 1957 already exists
Year 1958 already exists
Year 1959 already exists
Year 1960 already exists
Year 1961 already exists
Year 1962 already exists
Year 1963 already exists
Year 1964 already exists
Year 1965 already exists
Year 1966 already exists
Year 1967 already exists
Year 1968 already exists
Year 1969 already exists
Year 1970 already exists
Year 1971 already exists
Year 1972 already exists
Year 1973 already exists
Year 1974 already exists
Year 1975 already exists
Year 1976 already exists
Year 1977 already exists
Year 1978 already exists
Year 1979 already exists
Year 1980 already exists
Year 1981 already exists
Year 1982 already exists
Year 1983 already exists
Year 1984 already exists
Year 1985 already exists
Year 1986 already exists
Year 1987 already exists
Year 1988 already exists
Year 1989 already exists
Year 1990 already exists
Year 1991 already exists
Year 1992 already exists
Year 1993 already exists
Year 1994 already exists
Year 1995 already exists
Year 1996 already exists
Year 1997 already exists
Year 1998 already exists
Year 1999 already exists
Year 2000 already exists
Year 2001 already exists
Year 2002 already exists
Year 2003 already exists
Year 2004 already exists
Year 2005 already exists
Year 2006 already exists
Year 2007 already exists
Year 2008 already exists
Year 2009 already exists
Year 2010 already exists
Year 2011 already exists
Year 2012 already exists
Year 2013 already exists
Year 2014 already exists
Year 2015 already exists
Year 2016 already exists

In [5]:
command = ("ffmpeg -r 30 -i output/%04d.png -y climate_data.mp4")
subprocess.run(command)

Video("climate_data.mp4")